nav ul  {
    display: flex;
    list-style: none;
}

nav ul li{
    margin-right: 10px;
    padding: 0 8px ;
}

nav ul li a{
    text-decoration: none;

}

nav ul li:hover{
    background-color: cadetblue;

}